/* Global styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: #f8f8f8;
    color: #5E5D58;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: "IBM Plex Sans Thai", serif;
    font-weight: 200;
    font-style: normal;    
}

.footerBox{
    margin-top: 50px;
    /* background-color: #5E8291; */
    padding-top: 75px;
    padding-bottom: 75px;
    background-image: linear-gradient(to bottom, #f8f8f8 1%, #5E8291);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    height: 250px;
    width: 100%;
}

.socialMediaBox{
    display: flex;
    gap: 15px;
    list-style: none;
    padding: 0;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.socialMediaBox li{
    display: inline-block;
    justify-self: auto;
}
.socialMediaBox img{
    width: 40px;
    height: auto;
}

.footerBox .credit {
    margin-top: 15px;
    margin-bottom: 30px;
    font-size: 12px !important;
}
.footerBox #copyright{
    margin-bottom: 0px;
}
.footerBox #creditEmail{
    margin-top: 0px;
}
.footerBox .initials{
    margin-top: 50px;
    width: 80px;
    height: auto;
    transform: scale(0.25s);
    opacity: 1;
    transition: none;
}