
/* Global styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: #f8f8f8;
    color: #5E5D58;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: "IBM Plex Sans Thai", serif;
    font-weight: 200;
    font-style: normal;    
}


.navbar {
    /* background-color:bisque; */
    padding: 3px 25px;
    display: flex;
    align-items: center;
}


.logoBox {
    display: flex;
    align-items: center;
    padding-right: 25px;
    margin-left: -10px;
    margin-top: 15px;
}

.artText{
    font-family: "IBM Plex Sans Thai", serif;
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
}
.logo {
    width: 200px;
    height: auto;
    transform: scale(0.9);
}

.nav-items{
    display: flex;
    align-items: center; 
    margin-left: auto; 
}

.nav-links{
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;

}
.nav-links li {
    margin-left: 20px;
} 

.nav-links a.active {
    border: 1px solid #5E5D58; 
    padding: 5px 10px;  
    background-color: #f8f8f8; 
    border-radius: 5px; 
}

/* .nav-links {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-end;
} */

/* .nav-links li {
    margin: 0 15px;
} */

/* Optional: Style for headings */
/* h1, h2, h3, h4, h5, h6 {
    color: #5E5D58;

} */








/* Optional: Links style */
a {
    color: #5E5D58;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
