
/* Global styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: #f8f8f8;
    color: #5E5D58;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: "IBM Plex Sans Thai", serif;
    font-weight: 200;
    font-style: normal;    
}


.navbar {
    background-color:#f8f8f8;
    /* padding: 3px 25px; */
    height: 80px;
    padding: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    transition: height 0.5s ease;
    /* padding: 0 20px; */
    z-index: 1000;
}

.navbar.shrink{
    height: 65px;
    background-color: white;
}
.navbar.fixed{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.logoBox {
    display: flex;
    align-items: center;
    padding-right: 25px;
    margin-left: 80px;
    margin-top: 1px;
}

.navbar .artText{
    font-family: "IBM Plex Sans Thai", serif;
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    transition: transform 1s ease, margin-left 1s ease;
}

.navbar .logo {
    width: 200px;
    height: auto;
    opacity: 100%;
    transform: scale(0.9);
    transition: opacity 1s ease, transform 0.5s ease;
}

.navbar.shrink .logo{
    opacity: 0;
    transform: scale(0.5);
}

.navbar.shrink .artText{
    transform: translateX(-150px);
    margin-left: 0;
}



.nav-items{
    display: flex;
    align-items: center; 
    margin-left: auto; 
}

.nav-links{
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;

}
.nav-links li {
    margin-left: 20px;
} 

.nav-links a.active {
    border: 1px solid #5E5D58; 
    padding: 5px 10px;  
    background-color: #f8f8f8; 
    border-radius: 5px; 
}

/* .nav-links {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-end;
} */

/* .nav-links li {
    margin: 0 15px;
} */

/* Optional: Style for headings */
/* h1, h2, h3, h4, h5, h6 {
    color: #5E5D58;

} */








/* Optional: Links style */
a {
    color: #5E5D58;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
