* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: #f8f8f8;
    color: #5E5D58;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: "IBM Plex Sans Thai", serif;;
    font-weight: 200;
    font-style: normal;    
}


.oilBanner{
    width: 100%;
    height: auto;
    max-height: 400px;
    background-image: url(/media/banners/All\ My\ Thoughts\ They\ Come\ in\ Pairs.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    aspect-ratio: 16/9;
    font-family: "Questrial", sans-serif;
    font-weight: 200;
}

.galleryTitle{
    height: 40px;
    width: 100%;
    font-size: 25px;
    font-weight: 600;
    color: #C98965;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Responsive columns */
    gap: 5px; /* Spacing between images */
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

.gallery img {
    width: 100%; /* Makes images fill their grid cells */
    height: auto; /* Keeps aspect ratio */
    object-fit: cover; /* Ensures uniform display */
    border-radius: 10px; /* Optional: Adds rounded corners */
    transition: transform 0.3s ease; /* Smooth hover effect */
    transform: scale(0.8);
    cursor: pointer;
}

.gallery img:hover {
    transform: scale(0.9); /* Slight zoom effect on hover */
}
